!!! 5
html
  include modules/head
  body.notification
    h3.title
      span.mf_colorbox
      span.content
    .content
      .icon
        img(src='images/desktop/clock.png')
      ul#notification
        li.when
        li.duration
        li.age
    .footer
      button#btnWait.normal 推荐5分钟
      button#btnView.normal 查看详细