//-
   Created with JetBrains WebStorm.
   User: conis
   Date: 11/13/12
   Time: 5:19 下午
   To change this template use File | Settings | File Templates.

#pnlActivityTabs.mf_listview.horizontal
//-
  a(flag='3')
    label #{lang.actEditor.button.birthday}
  a(flag='2')
    label #{lang.actEditor.button.normal}
  a(flag='4')
    label #{lang.actEditor.button.todo}