//-
   Created with JetBrains WebStorm.
   User: conis
   Date: 11/4/12
   Time: 9:52 下午
   用于弹出窗口的header部分，包括一条三色线和关闭按钮
#fullscreen
  header
    .logo.imgMain
    h3
    button.close#btnClose
      span.icon.imgMain
    button.back.mf_hide#btnBack
      span.icon.imgMain
  include colorLine