//-
   Created with JetBrains WebStorm.
   User: conis
   Date: 11/4/12
   Time: 9:59 下午
   用于一般页面的header部分

header.mf_frame
  //- 显示Logo
  .logo
    a(href='/')
      span.imgMain
    h1
      / Anywhere Anytime Anyway
  //-三色线
include colorLine