//-
   Created with JetBrains WebStorm.
   User: conis
   Date: 11/5/12
   Time: 10:45 上午
   To change this template use File | Settings | File Templates.

//- 菜单header部分
header.main
  .nav
    button.left
      label
    .caption
    button.right
      label
  //-include colorLine