//-
   Created with JetBrains WebStorm.
   User: conis
   Date: 11/5/12
   Time: 10:52 上午
   添加新的提醒

ul#pnlReminderEditor.mf_tableview
  li.symbol.accessoryNone
    #lstReminderSymbol.mf_listview.horizontal
  li.value
    input#txtReminderValue(type='text', value='10', autocomplete='off')
  li.unit.accessoryNone
    #lstReminderUnit.mf_listview.horizontal
  li.reminderBy.accessoryNone
    #lstReminderBy.mf_listview.horizontal

p#tipsNoMailReminder.mf_bubble.mf_tooltip #{lang.actEditor.noMailReminder}