//-
   Created with JetBrains WebStorm.
   User: conis
   Date: 11/5/12
   Time: 8:56 上午
   侧边栏

aside
  //- 日历
  #pnlMonth.mf_datepicker

  //- 日历列表
  div.mf_listPanel
    h3#hCalendar.caption #{lang.calendars.title}
    #lstCalendars.mf_listview.image
    footer
      //a#lnkNewCalendar.link #{lang.calendars.newCalendar}
