//-
   Created with JetBrains WebStorm.
   User: conis
   Date: 11/5/12
   Time: 11:16 上午
   状态编辑器

ul#pnlStatusEditor.editor
  li.title
    #capStatusTitle #{lang.status.title}
  li
    input#txtStatus(type='text', placeholder='e.g. Busy')
  li
    #lstStatusColor.ribbon